
  /* Mini certificado */
  .services-highlight {
    display: none;
  }
  
  
/* Ajuste para a seção principal */
.about-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: var(--quinta-cor);
}

/* Título da seção */
.section-title-h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--terceira-cor);
  margin-bottom: 40px;
  position: relative;
}

/* Container dos serviços */
.services-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

/* Lados esquerdo e direito */
.services-left,
.services-right {
  flex: 1;
  max-width: 500px;
}

/* Serviço individual */
.service-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background: var(--quinta-cor);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

/* Ícone */
.service-icon {
  border: 8px solid var(--quinta-cor);
  font-size: 2.5rem;
  color: var(--quinta-cor);
  background-color: var(--segunda-cor);
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-shadow: 0 3px 6px var(--segunda-cor);
}
.service-icon:hover{
  transform: translateY(-5px);
  cursor: pointer;
}
/* Informações do serviço */
.service-info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--segunda-cor);
  margin-bottom: 5px;
}

.service-info p {
  font-size: 1rem;
  color: var(--quarta-cor);
}

/* Responsividade */
@media (max-width: 1024px) {
  .services-container {
      flex-direction: column;
      align-items: center;
  }
  .services-left,
  .services-right {
      width: 100%;
  }
  .service-item {
      flex-direction: column;
      text-align: center;
  }
  .service-icon {
      margin-bottom: 10px;
  }
  .service-info h3, .service-info p {
      text-align: center;
  }
}

@media (max-width: 648px){
  .services-highlight {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--quinta-cor);
    border: 6px double var(--segunda-cor);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    text-align: center;
  }
  
  .certificate-icon {
    font-size: 3rem;
    color: var(--segunda-cor);
    margin-bottom: 10px;
  }
  
  .highlight-message {
    font-size: 1rem;
    font-weight: bold;
    color: var(--terceira-cor);
  }
  
}