/* Container principal */
.destaques-container {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

/* Cabeçalho */
.destaques-header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.destaques-header p {
  font-size: 1.2rem;
  color: #666;
}

/* Cards */
.destaques-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.destaque-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destaque-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.destaque-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Informações do card */
.destaque-info {
  padding: 1rem;
  text-align: left;
  /* border: none; */
}

.destaque-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #444;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.destaque-info h3 i {
  font-size: 1.2rem;
}

/* Cores das medalhas */
.medalha-ouro {
  color: gold; /* Cor dourada para ouro */
}

.medalha-prata {
  color: silver; /* Cor prata */
}

.medalha-bronze {
  color: #cd7f32; /* Cor bronze */
}

.destaque-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .destaques-cards {
    flex-direction: column;
    align-items: center;
  }
}
